<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="../static/src/styles.css">
  </head>
  <body>
    <header>
      <h1 id="title">Fitness Tracker</h1>
    </header>
    <nav>
        <a href="index.html">Home</a>
        <a href="crossfit.html">CrossFit</a>
        <a href="planks.html">Practice Tracker</a>
        <a href="running.html">Running Program</a>        
    </nav>

  <div id="planks">
      <h2>Practice Tracker</h2>
      <p>Did you plank today? Well did ya? </p>
      <p>TODO: add in display of access db</p>
      <p>TODO: change submit button to send data to access db</p>
  </div>

  <h3>Track Planks, Pullups, and Double-Unders Practice</h3>
  <form id="practiceTrackerForm" action="/submit" method="post">
  <table>
      <tr>
          <th>Date</th>
          <th>Planks</th>
          <th>Pullups</th>
          <th>Double-Unders</th>
      </tr>
      <!-- input fields -->
      <tr>
          <td id="tracker-date"><input type="date" placeholder="Date"></td>
          <td id="planks-input"><input type="text" placeholder="Planks"></td>
          <td id="pullups-input"><input type="text" placeholder="Pullups"></td>
          <td id="double-unders-input"><input type="text" placeholder="Double-Unders"></td>
      </tr>
  </table>

  <input type="submit" value="Submit" class="tracker-button">
  <input type="reset" value="Reset" class="tracker-button">

</form>

  <h2>Excel Data Example</h2>

  <table id="excel-table" class="excelTable">
    The table should be here
    <!-- Table content will be inserted here -->
</table>

  <script src="../static/src/index.js"></script>

  <button onclick="retrieveData()">Retrieve Data</button>
  
  <div id="output"></div>

    <footer>
      Fitness Tracker by kimmiegymgym 
    </footer>
  </body>
</html>
