<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="../static/src/styles.css">
  </head>
  <body>
    <header>
      <h1 id="title">Fitness Tracker</h1>
    </header>
    <nav>
        <a href="index.html">Home</a>
        <a href="crossfit.html">CrossFit</a>
        <a href="planks.html">Practice Tracker</a>
        <a href="running.html">Running Program</a>        
    </nav>

  <div id="planks">
      <h2>Practice Tracker</h2>
      <p>Did you plank today? Well did ya? </p>
      <p>TODO: add event listeners for submit and reset buttons</p>
      <p>TODO: store submitted data in objects</p>
      <p>TODO: serialize data in object to json file</p>
      <p>TODO: python: print JSON file to xlsx</p>
  </div>

  <h3>Input Planks, Pullups, and Double-Unders Practice</h3>

  <form id="practiceTrackerForm" action="/submit" method="post">
  <table>
      <tr>
          <th>Date</th>
          <th>Planks</th>
          <th>Pullups</th>
          <th>Double-Unders</th>
      </tr>
      
      <tr>
          <td id="tracker-date"><input type="date" placeholder="Date"></td>
          <td id="planks-input"><input type="checkbox" name="Planks" placeholder="Planks"></td>
          <td id="pullups-input"><input type="checkbox" name="Pullups" placeholder="Pullups"></td>
          <td id="double-unders-input"><input type="checkbox" name="Double-Unders" placeholder="Double-Unders"></td>
      </tr>
  </table>
  <button type="button" id="submitBtn">Submit</button>
  <button type="button" id="resetBtn">Reset</button>
</form>



<br>
<br>
<br>


  <h3>Practice History</h3>
  The table should be below here
  <table id="data-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Planks</th>
            <th>Pullups</th>
            <th>Double-unders</th>
        </tr>
    </thead>
    <tbody id="data-body">
    </tbody>
</table>

<script>
    // Fetch data from JSON file
    fetch('../static/src/data.json')
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('data-body');

            // Iterate over the data and create table rows
            data.forEach(item => {
                const row = document.createElement('tr');
                Object.keys(item).forEach(key => {
                    const cell = document.createElement('td');
                    cell.textContent = item[key];
                    row.appendChild(cell);
                });
                tableBody.appendChild(row);
            });
        })
        .catch(error => console.error('Error:', error));
</script>

<script src="../static/src/planks.js"></script>

    <footer>
      Fitness Tracker by kimmiegymgym 
    </footer>
  </body>
</html>
